main, header, footer{
	margin-left:7rem !important;
}

.sidebar{
        position:fixed;
        left:-5rem;
        height:100%;
        width:9rem;
        background-color:#787878;
        transition:all .5s ease;
}

.sidebar ul{
        height:90vh;
	padding:0;
        margin-top:3rem;
        display:flex;
        justify-content:space-around;
        flex-direction:column;
	list-style-type:none;
}

.sidebar ul li{
	display:flex;
	justify-content:center;
	align-items:center;
}

.sidebar ul a{
	position:relative;
        display:flex;
        justify-content:center;
        align-items:center;
        padding:1rem;
        color:white;
        text-decoration:none;
        font-weight:bold;
        font-size:1rem;
        transition:all 200ms ease;
	visibility:hidden;
	border-radius:8rem;
}

.sidebar ul a:hover{
        padding-left:2rem;
        background-color:#bd9997;
	padding:1.5rem;
}

#check{
        display:none;
}

label{
        position:absolute;
        top:1rem;
        left:1.2rem;
        cursor:pointer;
        font-weight:bold;
        color:white;
        z-index:1111;
        transition:all .5s ease;
	width:30;
	height:30;
}

#check:checked ~ .sidebar{
        left:0;
}

#check:checked ~ label{
        left:3.7rem;
}

#check:checked ~ .sidebar ul a{
        visibility:visible;
}

#check:checked ~ nav ~ *{
	margin-left:10rem;
	opacity:0.5;
	transition: all .5s ease;
}

#main{
	transition: all .5s ease;
}

#open_sb:hover{
	color:blue;
}


body::-webkit-scrollbar{
    width: 15px;
    }
    
body::-webkit-scrollbar-thumb{
    background-color: rgb(5, 225, 233);
    border-radius: 5px;
    }
